<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="warn">

    <Properties>
        <Property name="filePath">./logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yy-MM-dd HH:mm:ss:SSS} %blue{[%t]} %-5level{ERROR=Error, length=3} %logger{36} -- %msg%n"/>
        </Console>
        <!-- Matches from Info to Trace logs level -->
        <RollingFile name="applicationLog" fileName="${filePath}/application.log" filePattern="${filePath}/application-%d{yyyy-MM-dd-HH-mm}.log" append="true">
            <!-- To understand minLevel & maxLevel : https://logging.apache.org/log4j/2.x/manual/customloglevels.html -->
            <LevelRangeFilter minLevel="INFO" maxLevel="TRACE" onMatch="ACCEPT" onMisMatch="DENY"/>
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss,SSS}%-4r [%thread] %-5p %c{1} %x - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy>10MB</SizeBasedTriggeringPolicy>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
        <!-- Matches from Error to Warning logs level -->
        <RollingFile name="errorLog" fileName="${filePath}/error.log" filePattern="${filePath}/error-%d{yyyy-MM-dd-HH-mm}.log" append="true">
            <LevelRangeFilter minLevel="ERROR" maxLevel="WARN" onMatch="ACCEPT" onMisMatch="DENY"/>
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss,SSS}%-4r [%thread] %-5p %c{1} %x - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy>10MB</SizeBasedTriggeringPolicy>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>


    <Loggers>
        <!-- Logging starts from com.logger.aop.sb package -->
        <Logger name="com.logger.aop.sb" additivity="false">
            <AppenderRef ref="applicationLog"/>
            <AppenderRef ref="errorLog"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Logging level from root is set to be : all -->
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>


</configuration>